.panel
  .panel-header= t 'about.links'
  .panel-list
    %ul
      - if user_signed_in?
        %li= link_to t('about.get_started'), root_path
      - else
        %li= link_to t('auth.login'), user_github_omniauth_authorize_path
      %li= link_to t('about.terms'), terms_path
      %li= link_to t('about.source_code'), 'https://github.com/ms2sato/mastodon'
